/* Reset Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Basic Styles */

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

header {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

nav ul {
	display: flex;
}

nav ul li {
	margin-right: 20px;
}

nav ul li:last-child {
	margin-right: 0;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

form textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	resize: none;
	margin-bottom: 10px;
}
